[Unit]
Description=SiriusXM streamer
After=multi-user.target

[Service]
Type=forking
ExecStart=/home/pi/projects/SiriusXM/getsirius.sh
ExecStop=kill $(ps ax | grep "[p]ython3 sxm.py -p 8888" | awk '{print $1}')
User=pi
Group=pi

[Install]
WantedBy=multi-user.target


